@model ERP.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAccounts.cshtml";
}

<h2 style="padding-top:10px;color:#9e015e;">Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" ,@style="margin-right: 15px;margin-left: 15px;"}))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label", @style = "color:#9e015e" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@style= "background-color: rgba(158, 1, 112, 0.2); color: white;"})
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-3 control-label", @style = "color:#9e015e" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "background-color: rgba(158, 1, 112, 0.2); color: white;" })
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label", @style = "color:#9e015e" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "background-color: rgba(158, 1, 112, 0.2); color: white;" })
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="form-group" style="padding-bottom:20px">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <input style="width:100%" type="submit" value="Register" class="btn btn-default" />
        </div>
        <div class="col-md-3"></div>
    </div>
}
