
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/faviconAdmin32.ico" />
    <title>Admin</title>
    <script src="~/AdminContent/js/jquery.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    
    @Styles.Render("~/Content/cssAdmin")

</head>

<body>
    <!-- Page container -->
    <div class="page-container">

        <!-- Page Sidebar -->
        <div class="page-sidebar">

            <!-- Site header  -->
            <header class="site-header">
                <div style="float: none;" class="site-logo"><a style="width: 82%;float: left;" href="/Admin"><img style="height: 50px;" src="~/AdminContent/images/Admin_Logo.png" alt="KAS Communication" title="KAS Communication"></a></div>
                <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i style="padding-top: 15px;" class="icon-menu"></i></a></div>
                <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
            </header>
            <!-- /site header -->
            <!-- Main navigation -->
            <ul id="side-nav" class="main-menu  navbar-collapse collapse">
                <li class="has-sub @*active*@">
                    <a href="index.html"><i class="icon-gauge"></i><span class="title">Dashboard</span></a>
                    <ul class="nav">
                        <li class="@*active*@">@Html.ActionLink("Main Dashboard", "Index", "Admin", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "title" })</li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="panels.html"><i class="fa fa-briefcase"></i><span class="title">Projects</span></a>
                    <ul class="nav collapse">
                        <li style="">@Html.ActionLink("Add New", "NewProject", "Project", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("Previous Projects", "PreviousProjects", "Project", null, new { @class = "title" })</li>
                        <li class="has-sub">
                            <a href="#/"><span class="title">Addition To OneTime Project</span></a>
                            <ul class="nav collapse">
                                <li>@Html.ActionLink("Add Equipments", "EquipmentAddToProject", "Project", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Add Cable", "CableAddToProject", "Project", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Add Service", "ServicesAddToProject", "Project", null, new { @class = "title" })</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("View OneTime Project Additions", "ViewOneTimeAdditions", "Project", null, new { @class = "title" })</li>


                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="collapsed-sidebar.html"><i class="fa fa-users"></i><span class="title">Clients</span></a>
                    <ul class="nav collapse">
                        <li>@Html.ActionLink("Add New Client", "AddNew", "Client", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("View Clients", "ViewAll", "Client", null, new { @class = "title" })</li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="collapsed-sidebar.html"><i class="fa fa-stack-overflow"></i><span class="title">Stock</span></a>
                    <ul class="nav collapse">
                        <li>@Html.ActionLink("Add Stock", "New", "Stock", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("View All Stock", "ViewAll", "Stock", null, new { @class = "title" })</li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="basic-tables.html"><i class="fa fa-users"></i><span class="title">Employees</span></a>
                    <ul class="nav collapse">
                        <li>@Html.ActionLink("Create New", "New", "Employee", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("View All", "AllEmployees", "Employee", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("Edit Employee", "EditEmployee", "Employee", null, new { @class = "title" })</li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="collapsed-sidebar.html"><i class="fa fa-money"></i><span class="title">Billing</span></a>
                    <ul class="nav collapse">

                        <li class="has-sub">
                            <a href="#/"><span class="title">Project Vise Billing</span></a>
                            <ul class="nav collapse">
                                <li>@Html.ActionLink("OneTime Projects", "BillingOneTimeProjects", "Billing", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Monthly Projects", "BillingMonthlyProjects", "Billing", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Quaterly Projects", "BillingQuaterlyProjects", "Billing", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Yearly Projects", "BillingYearlyProjects", "Billing", null, new { @class = "title" })</li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="basic-tables.html"><i class="fa fa-list"></i><span class="title">Complaint Management</span></a>
                    <ul class="nav collapse">
                        <li>@Html.ActionLink("Add New Complaint", "AddNewComplaint", "ComplaintManagement", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("Previous Complaints", "PreviousComplaints", "ComplaintManagement", null, new { @class = "title" })</li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="basic-tables.html"><i class="fa fa-car"></i><span class="title">Company Vehicles</span></a>
                    <ul class="nav collapse">
                        <li>@Html.ActionLink("Add New", "New", "Vehicle", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("View Vehicles", "ViewAll", "Vehicle", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("Allot To Employee", "AllotEmployee", "Vehicle", null, new { @class = "title" })</li>
                        <li>@Html.ActionLink("View Allotments", "ViewAllotment", "Vehicle", null, new { @class = "title" })</li>

                    </ul>
                </li>
                <li class="has-sub">
                    <a style="padding-left:27px" href="basic-tables.html"><i class="fa fa-dollar"></i><span class="title">Salary</span></a>
                    <ul class="nav collapse">
                        <li>@Html.ActionLink("View Salaries", "ViewSalary", "Salary", null, new { @class = "title" })</li>
                        <li class="has-sub">
                            <a href="#/"><span class="title">Add</span></a>
                            <ul class="nav collapse">
                                <li>@Html.ActionLink("Advance Taken", "AddAdvance", "Salary", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Fuel Expence", "AddFuelExpence", "Salary", null, new { @class = "title" })</li>
                            </ul>
                        </li>

                    </ul>
                </li>
                <li class="has-sub">
                    <a href="#/"><i class="icon-flow-tree"></i><span class="title">Equipments & Cables</span></a>
                    <ul class="nav collapse">
                        <li class="has-sub">
                            <a href="#/"><span class="title">Add New</span></a>
                            <ul class="nav collapse">
                                <li>@Html.ActionLink("Equipment", "AddEquipment", "Equipment", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Cable", "AddCable", "Equipment", null, new { @class = "title" })</li>
                            </ul>
                        </li>

                        <li class="has-sub">
                            <a href="#/"><span class="title">View</span></a>
                            <ul class="nav collapse">
                                <li>@Html.ActionLink("Equipments", "ViewAllEquipments", "Equipment", null, new { @class = "title" })</li>
                                <li>@Html.ActionLink("Cables", "ViewAllCables", "Equipment", null, new { @class = "title" })</li>
                            </ul>
                        </li>


                    </ul>
                </li>
            </ul>
            <!-- /main navigation -->
        </div>
        <!-- /page sidebar -->
        <!-- Main container -->
        <div class="main-container gray-bg">

                <!-- Main header -->
                <div style="margin-top: 10px;" class="main-header row">
                    <div class="col-md-4" style="text-align:left">
                    </div>
                    <div class="col-md-4" style="text-align:center">
                        <label style="font-weight: bold;font-size: 18px;font-family: monospace;color: #00b8ce; text-shadow: 4px 4px #0000001c;">Welcome Admin</label>
                    </div>
                    <div class="col-md-4" style="text-align:right">
                        <label style="font-weight: 400;">@Html.Partial("_LogOffPartial")</label>
                    </div>

                </div>
                <!-- /main header -->
                <!-- Main content -->
                <div class="main-content">

                    @RenderBody()


                    <!-- Footer -->
                    <footer @*style="position: fixed; width: 100%; top: 600px"*@ class="footer-main">
                        &copy; 2017 <strong>DreamsTech Solution</strong> Admin Theme by <a target="_blank" href="#/">Syed Muhammad Usman</a>
                    </footer>
                    <!-- /footer -->

                </div>
                <!-- /main content -->


            </div>
        <!-- /main container -->

    </div>
    <!-- /page container -->
    
</body>
</html>

@Scripts.Render("~/bundles/jqueryLibAdmin")


